<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Finished:</b>
  <%= @task.finished? ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back to Task List', tasks_path %>
