<table>

<% @chores.each do |chore| %>
  <tr class="<%= cycle('odd_line', 'even_line') %>">
  <td>
  <%= form_for(chore) do |f| %>
    <%= f.hidden_field :finished, :value => !chore.finished %>
    <div class="actions">
      <% if chore.finished %>
        <%= image_submit_tag 'finished.png' %>
      <% else %>
        <%= image_submit_tag 'unfinished.png' %>
      <% end %>
    </div>
  <% end %>
  </td>
    <td><%= chore.name %></td>
    <td><%= chore.description %></td>
    <td><%= chore.created_at.to_s(:simple_date) %></td>    
    <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
    <td><%= link_to 'Delete', chore, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
