<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Chorenivore" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :defaults, 'bootstrap-tabs', 'jquery_ujs' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
        <div id="container">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>

    </div>
    <script>
      $(function () {
        $('.tabs').tabs()
      })
    </script>
  </body>
</html>
